
<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="image" style="display: flex; align-items: center;">
    <img src="assets/layout/images/asm-logo130x41.png" alt="mirage-layout"  width="100" height="100">
    <h2>All Soft Multimedia</h2>
  </div>
<div class="container">
  <h1 class="welcome-message">Bienvenue sur notre plateforme ! <br>Nous sommes ravis de vous accueillir</h1>
   <img src="https://pathwayport.com/saasland/images/login@4x.png" width="300" height="200"> 
  <p>Pour commencer, veuillez vous connecter à votre compte <br> pour accéder à toutes les fonctionnalités de notre application.</p>
  <button routerLink="/se-connecter" class="btn btn-primary">commencer</button>
</div>
        </div>
    </div>
</div>
